$primary-green: rgb(186,244,200);
$primary-blue: rgb(165,226,236);
$primary-rose: rgb(253,216,223);
$primary-red: #c62828;
$primary-grey: #212121;

$secondary-green: #00e676;
$secondary-blue: #00b0ff;
$secondary-grey: #616161;

.primary-green-text {
  color: $primary-green;
}

.primary-blue-text {
  color: $primary-blue;
}

.primary-rose-text {
  color: $primary-rose;
}

.primary-red-text {
  color: $primary-red;
}

.primary-grey-text {
  color: $primary-grey;
}

.primary-grey-background {
  background-color: $primary-grey;
}

.primary-green-background {
  background-color: $primary-green;
}

.primary-blue-background {
  background-color: $primary-blue;
}

.primary-rose-background {
  background-color: $primary-rose;
}

.primary-red-background {
  background-color: $primary-red;
}

.primary-grey-background {
  background-color: $primary-grey;
}

.secondary-green-text {
  color: $secondary-green;
}

.secondary-blue-text {
  color: $secondary-blue;
}

.secondary-grey-text {
  color: $secondary-grey;
}

.secondary-grey-background {
  background-color: $secondary-grey;
}

.secondary-green-background {
  background-color: $secondary-green;
}

.secondary-blue-background {
  background-color: $secondary-blue;
}

.secondary-grey-background {
  background-color: $secondary-grey;
}
