.dashboard {
  .gravatar-icon {
    @extend .helper-element-round;

    margin: auto 20px;
  }

  .modules {
    .item {
      .image {
        width: 200px;
        opacity: 0.5;
      }

      p {
        @extend .secondary-grey-text;

        font-weight: bold;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        margin: 20px;
      }

      &:hover {
        & {
          cursor: pointer;
        }

        .image {
          opacity: 1.0;
          animation: ease-in 2s;
        }

        p {
          @extend .secondary-blue-text;
          animation: ease-in 2s;
        }
      }
    }
  }
}
